@charset "UTF-8";

body {
    background-color: rgb(13, 125, 216);
    font: normal 16px Arial;
}
header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(9, 84, 145, 0.514);
}
main {
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(9, 84, 145, 0.514);
}
footer {
    color: white;
    font-style: italic;
    text-align: center;
}
img {
    width: 400px;
    margin: auto;
    display: block;
}
video {
    width: 600px;
    display: block;
    margin: auto;
}