@charset "UTF-8";
body {
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
section {
    margin: auto;
    width: fit-content;
}
header {
    text-align: center;
}
main {
    margin: auto;
    width: fit-content;
}
footer{
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}